/* $first-color: #6b5b81;
$second-color: #553555;
$third-color: #b2b5c8;
$forth-color: #bfd5e2;
$fifth-color: #c7ebf0; */
.todo-item{
    opacity:0;
    transform: translateY(-20px);
    animation: slideIn 0.3s ease-out forwards;
    display:flex;
    align-items: center;
    background-color: #b2b5c8 ;
    border-radius: 10px;
    padding:15px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

@keyframes slideIn{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}



.todo-item.completed label {
    color:#c7ebf0;
}

.todo-item.completed::after{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0%;
    height: 2px;
    background:black;
    transition: width 0.5s ease-in-out;
    transform: translateY(-50%);
}

.todo-item.completed span::after{
    width: 100%;
}
input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    background: #eee;
    outline: none;
    transition: background-color 0.3s, transform 0.2s ease;
}

input[type="checkbox"]:checked{
    background-color: #553555;
}
input[type="checkbox"]:checked::after{
    content: '';
    position: absolute;
    top: 3px;
    left:3px;
    width:5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
input[type="checkbox"]:not(:checked)::after{
    transform: scale(0.8);
}

.todo-item label{
    /* font-family: "Playwrite AU SA", serif; */
    color: #553555;
    position: relative;
    display: inline-block;
    overflow: hidden;  
    max-width: calc(100% - 70px);
    width: 100%;
    text-align: start;
    font-family: "Quicksand", serif;
    font-size:16px;
    font-weight: bold;
    cursor: pointer;
    margin-left:20px;
    box-sizing: border-box;
    /* transition: color 0.3, text-decoration 0.3s; */
    transition: color 0.3s ease-in-out;
}
.todo-item label span {
    white-space: nowrap;
    display: inline-block;
}
.todo-item:hover .scrollable {
    animation: scrollLabel 10s linear infinite; 
}


.todo-item.completed label{
    color:#bfd5e2;
    text-decoration: line-through;
    
}
.todo-item.completed label span{
    display: block;
}
.todo-item.checkbox{
    margin-right: 20px;
}
.delete-btn {
    opacity: 0;
    transform: scale(0.85);
    pointer-events: none; 
    transition: opacity 0.3s ease, transform 0.3s ease;
}
@keyframes scrollLabel {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(calc(-100% + 350px));
    }
}
@media (min-width: 768px) {
    
    .delete-btn {
        position: absolute;
        top: 15px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .todo-item:hover .delete-btn {
        opacity: 1;
        transform: scale(1);
        pointer-events: all; 
    }
}
@media (max-width: 1258px) {
    @keyframes scrollLabel {
        0% {
            transform: translateX(0); /* Początkowe ustawienie */
        }
        100% {
            transform: translateX(calc(-100% + 200px));
        }
    }
    
}
@media (hover: none) {
    .scrollable {
        animation: scrollLabel 10s linear infinite;
    }
}
@media (max-width: 767px) {
    @keyframes scrollLabel {
        0% {
            transform: translateX(0); /* Początkowe ustawienie */
        }
        100% {
            /* transform: translateX(calc(-100% -50px)); Przewija na pełną szerokość */
            transform: translateX(calc(-100% + 125px));
        }
    }
    .todo-item{
        transition: transform 0.3s ease-out;
        cursor: pointer;
    }
    .swiped {
        transform: translateX(-100%); 
        opacity: 0;
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }
}

.delete-btn:hover {
    transform: scale(1.1);
}

.delete-btn svg {
    color: #87769f; 
    transition: color 0.3s ease;
}

.delete-btn:hover svg {
    color: #553555;
}